<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
          @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

:root{
  --orange: #ffa500;
}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}


*::selection{
    background: var(--orange);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgb(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
    /* display: inline-block; */
}

.heading span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgb(255, 165, 0, .2);
    color: var(--orange);
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image {
    flex: 1 1 40rem;
}
.book .row .image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, .1);
    border-radius: .5rem;

}
.book .row form .inputBox{
    padding: .5rem 0;

}
.book .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgb(0, 0, 0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}
.book .row form .inputBox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

    </style>
</head>
<body>
    <section class="book" id="book">

        <h1 class="heading">
        <span>B</span>
        <span>o</span>
        <span>o</span>
        <span style="margin-right: 30px;">k</span>
        <span>n</span>
        <span>o</span>
        <span>w</span>
    </h1>
        
    <div class="row">
    
        <div class="image">
            <img src="https://thesimpletravel.com/wp-content/uploads/2021/09/Darjeeling.jpg?ezimgfmt=ng%3Awebp%2Fngcb4%2Frs%3Adevice%2Frscb4-2" alt="">
        </div>
        
    
        <form action="/dar" method="post">
    
    
            <div class="inputBox">
                <h3>how many</h3>
                <input type="number" name="dar" placeholder="number of guests" required>
            </div>
    
            <div class="inputBox">
                <h3>arrivals</h3>
                <input type="date" name="arrd" id="arr" required>
            </div>
    
            <div class="inputBox">
                <h3>leaving</h3>
                <input type="date" id="dep" required>
            </div>
    
            <input type="submit" class="btn" value="book now" required>
        </form>
    
    </div>
    
    </section>
    <script>
      
    </script>
</body>
</html>