<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel-Ease</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

:root{
  --orange: #ffa500;
}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background: var(--orange);
  color: #fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
section{
  padding: 2rem 9%;
}

.heading{
  text-align: center;
  padding: 2.5rem 0;
}

.heading span{
  font-size: 3.5rem;
  background: rgb(255, 165, 0, .2);
  color: var(--orange);
  border-radius: .5rem;
  padding: .2rem 1rem;
  /* display: inline-block; */
}

.heading span.space{
  background: none;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background: rgb(255, 165, 0, .2);
  color: var(--orange);
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span{
  color: var(--orange);
}

header .navbar a{
  color: #fff;
  font-size:  2rem;
  margin: 0 .8rem;
}

header .navbar a:hover{
  color: var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
  color: var(--orange);
}

header .search-bar-container{
  position: absolute;
  top: 100%; left: 0; right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: .1rem solid rgb(255, 255, 2555, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
  clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
}
header .search-bar-container label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
header .search-bar-container label:hover{
  color: var(--orange);
}

.login-form-container{
  position: fixed;
  top: -120%;left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0,.7);
  display: flex;
  align-items: center;
  justify-content: center;

}
.login-form-container.active{
  top: 0;
}

.login-form-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius:  .5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: .1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus{
  border-color: var(--orange);
}

.login-form-container form #remember{
  margin: 2rem 0;
}

.login-form-container form label{
 font-size: 1.5rem;
}

.login-form-container form .btn{
 display: block;
 width: 100%;
}

.login-form-container form p{
 padding: .5rem 0;
 font-size: 1.5rem;
 color: #666;
}


.login-form-container form p a{
 color: var(--orange);
}


.login-form-container form p a{
 color: var(--orange);
}

.login-form-container form p a:hover{
 color: #333;
 text-decoration: underline;
}

.login-form-container #form-close{
 position: absolute;
 top: 2rem; right: 3rem;
 font-size: 5rem;
 color: #fff;
 cursor: pointer;
}

#menu-bar{
  color: #fff;
  border: .1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  display: none;
}
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 7rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 .7rem .5rem rgb(0, 0, 0, .9);
}
.home .content p{
  font-size: 3.5rem;
    color: #ffa500;
    padding: .5rem 0;
    background: rgb(0, 0, 0,.4);
}

.landings img{
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.book .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.book .row .image {
  flex: 1 1 40rem;
}
.book .row .image img{
  width: 100%;
}

.book .row form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, .1);
  border-radius: .5rem;

}
.book .row form .inputBox{
  padding: .5rem 0;

}
.book .row form .inputBox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgb(0, 0, 0, .1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}
.book .row form .inputBox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

.packages .box-container {
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  }
.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem Orgba(0,0,0,.1);
  }
  .packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
  }
  .packages .box-container box .content{
      padding:2rem;
      }
      .packages .box-container .box .content h3{
      font-size:2rem;
      color: #333;
      }
      .packages .box-container .box .content h3 i{
      color:var(--orange);
      }
      .packages .box-container .box .content h3{
      font-size:1.7rem;
      color: #666;
      padding: 1rem 0;
      }

      .packages .box-container .box .content .stars i{
          font-size:1.7rem;
          color:var(--orange);
          }
          .packages .box-container .box .content .price{
          font-size : 2rem;
          color: #333;
          padding-top: 1rem;
          }
          .packages .box-container .box .content .price span{
          color:#666;
          font-size: 1.5rem;
          text-decoration: line-through;
          }


          .services .box-container {
              display: flex;
              flex-wrap: wrap;
              gap: 1.5rem;
              }
              .services .box-container .box{
              flex: 1 1 30rem;
              border-radius: 5rem;
              padding: 1rem;
              text-align: center;
              }

.services .box-container .box i{padding: 1rem;
font-size: 5rem;
color:var(--orange);
}
.services .box-container .box h3{
font-size: 2.5rem;
color: #333;
}
.services .box-container.box p{
font-size: 1.5rem;
color:#666;
padding:1rem 0;
}
I
.services .box-container .box:hover{
box-shadow:0 1rem 2rem rgba(0,0,0,.1);
}
.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  }
  .gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem O rgba(0,0,0,.1);
  border:1rem solid  #fff;
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  position: relative ;
}

.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
position: absolute;
top: -100%; left: 0;
height: 100%;
width:100%;
text-align: center;
background:rgba(0,0,0,.7);
padding:2rem;
padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
top: 0;
}
.gallery .box-container .box .content h3{
font-size: 2.5rem;
color:var(--orange);
}
.gallery .box-container .box .content p{
font-size: 1.5rem;
color: #eee;
padding:.5rem 0;
}

.review .review-slider{
  padding-bottom: 2rem;
}
 .review .box{
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
 }

 .review .box img{
  height:13rem;
  width:13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.review .box h3{
  color:#333;
  font-size: 2.5rem;
}

.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box .stars i{
  color: var(--orange);
  font-size: 1.1rem;
}

.contact .row{
display: flex;
flex-wrap: wrap;
gap:1.5rem;
align-items: center;
}
.contact .row .image {
  flex:1 1 35rem;
  }
  .contact .row .image img{
  width:100%;
  }
  .contact .row form{
  flex: 1 1 50rem;
  padding:2rem;
  box-shadow: 0 1 rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
  }
  .contact .row form .inputBox{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .contact .row form .inputBox input, .contact .row form textarea {
      width:49%;
      margin:1rem 0;
      padding: 1rem;
      font-size: 1.7rem;
      color: #333;
      background: #f7f7f7;
      text-transform: none;
      }
      .contact .row form textarea{
      height: 15rem;
      resize: none;
      width:100%;
      }
      /* Footer Section Start */
  .footer{
      background: #333;
  }
  .footer .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1.1rem;
      }
      .footer .box-container .box{
      padding: 1rem 0;
      flex:1 1 25rem;
      }
      .footer .box-container .box h3{
      font-size: 2.5rem;
      padding:.7rem 0;
      color: #fff;
      }
      .footer .box-container .box p{
      font-size: 1.5em;
      padding:.7rem 0;
      color: #eee;
  }

  .footer .box-container .box a{
      display: block;
      font-size: 1.5em;
      padding:.7rem 0;
      color: #eee;
  }
  .footer .box-container .box a:hover{
      color: var(--orange);
      text-decoration: underline;
  }
        /* Footer Section ends */ 

/* Media Queries */
@media (max-width: 1200px) {
  
  html{
      font-size: 55%;
  }
}
@media (max-width: 991px) {
  
  header{
      padding: 2rem;
  }
}
@media (max-width: 768px) {
  
  #menu-bar{
      display: initial;
  }
  header .navbar{
      position: absolute;
      top: 100%; right: 0;left: 0;
      background: #333;
      border-top: .1rem solid rgba(255, 255, 255, .2) ;
      padding: 1rem 2rem;
      clip-path: polygon(0 0, 100% 0,100% 0, 0 0 );
  }
  header .navbar.active{
      clip-path:polygon(0 0, 100% 0,100% 100%, 0 100%) ;
  }

  header .navbar a{
      display: block;
      border-radius: .5rem;
      padding: 1.5rem;
      margin: 1.5rem 0;
      background: #222;
  }
}

@media (max-width: 450px) {
  
  html{
      font-size: 50%;
  }

  .heading span{
      font-size: 2.5rem;
  }
}
    </style>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <!-- header section start-->
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>

        <a href="#" class="logo"><span>Travel</span>-Ease</a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#packages">Packages</a>
            <a href="#services">Services</a>
            <a href="#review">Review</a>
            <a href="#contact">Contact</a>
        </nav>

        <div class="icons">
            <i class="fas fa-search" id="search-btn"></i>
            <i class="fas fa-user" id="login-btn"></i>
        </div>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="search" here...>
            <label for="search-bar" class="fas fa-search"></label>
        </form>

    </header>
  <!-- header section ends-->
 
  <!-- login form container start -->
  <div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="/login" method="post">
        <h3>login</h3>
        <input type="text" class="box" placeholder="Enter your username" name="user">
        <input type="password" class="box" placeholder="Enter your password" name="pass">
        <button class="btn">Login</button> 
        <p><a href="http://localhost:1000/changepsd">Forgot password? </a></p>
        <p><a href="http://localhost:1000/userdetail">Register Now</a></p>
    </form>
  </div>
  <!-- login form container ends  -->

 <!-- Home section start -->

 <section class="home" id="home">
    <div class="content">
        <h3>adventure is worthfile</h3>
        <p>discover new places with us, adventure awaits</p>
        <a href="#" class="btn">discover more</a>
    </div>

    <div class="landings">
            <img src="https://img.freepik.com/free-photo/young-man-beach-by-sea-generative-ai_169016-29381.jpg?w=1060&t=st=1693751193~exp=1693751793~hmac=516c8a42c246c8851ca25fc6b6d2003ad3f4677e0d46023c2f93bda75c549dc7" alt="">
    </div>
 </section>

 <!-- Home section ends -->




 <!-- Package Section Start -->

 <section class="packages" id="package">
    <h1 class="heading">
        <span>p</span>
        <span>a</span>
        <span>c</span>
        <span>k</span>
        <span>a</span>
        <span>g</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="https://img.freepik.com/premium-photo/gateway-india_78361-4513.jpg?w=900" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Mumbai</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> ₹30000 <span>₹35000</span></div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        <div class="box">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/BeachFun.jpg" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Goa</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price">₹35000<span>₹40000</span></div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        <div class="box">
            <img src="https://lp-cms-production.imgix.net/2019-06/384e10f39ebc6fab9b991467541ce8ed-dal-lake.jpg" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Kashmir</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> ₹50000 <span>₹60000</span></div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        <div class="box">
            <img src="https://travellersworldwide.com/wp-content/uploads/2023/02/Shutterstock_545452072.jpg.webp" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Kerala</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> ₹45000 <span>₹50000</span></div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        <div class="box">
            <img src="https://media.istockphoto.com/id/1135820309/photo/amber-fort-and-maota-lake-jaipur-rajasthan-india.jpg?b=1&s=612x612&w=0&k=20&c=yjUe8KhcwzW40tykVwJ3pOFEY8-L2bA76JL-Rpgg0TY=" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Rajasthan</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price">₹40000<span>₹45000</span></div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        <div class="box">
            <img src="https://thesimpletravel.com/wp-content/uploads/2021/09/Darjeeling.jpg?ezimgfmt=ng%3Awebp%2Fngcb4%2Frs%3Adevice%2Frscb4-2" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Darjeeling</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea vero aliquam eligendi autem fugiat? </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <form action="/mum" method="post">
                  <button class="btn">View Details</button>
                </form>
            </div>
        </div>
        
    </div>
 </section>

 <!-- Package Section end -->

 <!-- services section starts -->
<section class="services" id="services">
    <h1 class="heading">
    <span>s</span>
    <span>e</span>
    <span>r</span>
    <span>v</span>
    <span>i</span>
    <span>c</span>
    <span>e</span>
    <span>s</span>
    </h1>
    <div class="box-container">
    <div class="box">
    <i class="fas fa-hotel" ></i>
    <h3>affordable hotels</h3>
<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
quis voluptate exercitationem ut minima itaque iusto ipsum corrupti! </p>
</div>
<div class="box">
<i class="fas fa-utensils"></i>
<h3>food and drinks</h3>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
</div>
<div class="box">
<i class="fas fa-bullhorn" ></i>
<h3>Safety Guide</h3>
<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
quis voluptate exercitationem ut minima itaque iusto ipsum corrupti! </p>
</div>
<div class="box">
    <i class="fas fa-globe-asia" ></i>
    <h3>around the world</h3>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
    quis voluptate exercitationem ut minima itaque iusto ipsum corrupti! </p>
    </div>
    <div class="box">
        <i class="fas fa-plane" ></i>
        <h3>Fastest Travel</h3>
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
        quis voluptate exercitationem ut minima itaque iusto ipsum corrupti! </p>
        </div>
        <div class="box">
            <i class="fas fa-hiking" ></i>
            <h3>Adventure</h3>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum,
            quis voluptate exercitationem ut minima itaque iusto ipsum corrupti! </p>
            </div>
</div>
</section>

 <!-- gallery section starts -->
 <section class="gallery" id="gallery">
    <h1 class="heading">
    <span>g</span>
    <span>a</span>
    <span>l</span>
    <span>l</span>
    <span>e</span>
    <span>r</span>
    <span>y</span>
 </h1>

 <div class="box-container">

 <div class="box">
    <img src="https://img.freepik.com/free-photo/high-angle-shot-bandra-worli-sealink-mumbai-enveloped-with-fog_181624-6592.jpg?size=626&ext=jpg&ga=GA1.1.1329480126.1693933568&semt=sph" alt="">
   <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
   <img src="https://img.freepik.com/free-photo/beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky_181624-2490.jpg?w=900&t=st=1696663489~exp=1696664089~hmac=5608d03066ea884ae70b99d70beb46383db8b7d37c4509c23bcacaa544116edf" alt="">
    <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
    <img src="https://img.freepik.com/free-photo/cyclist-sunny-day-bike-adventure-travel-photo_1150-7513.jpg?w=900&t=st=1696666069~exp=1696666669~hmac=cc8b2acb0287bdb21d20c06b649dd809d3f18e6a4ac3c2295c799d4762d2552d" alt="">
   <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
   <img src="https://img.freepik.com/free-photo/vertical-shot-motorbike-road-with-beautiful-view-mountains-kauai-hawaii_181624-35457.jpg?size=626&ext=jpg&ga=GA1.2.1329480126.1693933568&semt=sph" alt="">
    <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
    <img src="https://img.freepik.com/free-photo/landscape-morning-fog-mountains-with-hot-air-balloons-sunrise_335224-794.jpg?w=900&t=st=1696666121~exp=1696666721~hmac=9d10f35bc78848fba9ea991a031d8b72ffe2e6dad07ec1e4dcac54bf1f7b0729" alt="">
   <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
   <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-ocean-with-coconut-palm-tree-umbrella-chair-blue-sky_74190-8823.jpg?size=626&ext=jpg&ga=GA1.1.1329480126.1693933568&semt=sph" alt="">
    <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
    <img src="https://img.freepik.com/free-photo/wooden-bridge-koh-nangyuan-island-surat-thani-thailand_335224-1082.jpg?t=st=1696666239~exp=1696666839~hmac=3a3745b99ad8d2e3364d6dd1153b11c0c25a83e05dd639321a1b353ffe9b2904" alt="">
   <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
   <img src="https://img.freepik.com/free-photo/asian-woman-wearing-vietnam-culture-traditional-strawberry-garden-doi-ang-khang-chiang-mai-thailand_335224-755.jpg?w=900&t=st=1696666256~exp=1696666856~hmac=6c9f33e61ab0bd36609db1f64f1d18ed124bdac1010b3d44fca88ae96f7a5bfa" alt="">
    <div class="content">
       <h3>amazing places</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
       <a href="#" class="btn">See More</a>
   </div>
</div>
<div class="box">
    <img src="https://img.freepik.com/premium-photo/canopy-india-gate-sunset-new-delhi-view-from-national-war-memorial_400112-339.jpg?size=626&ext=jpg&ga=GA1.1.1329480126.1693933568&semt=sph" alt="">
     <div class="content">
        <h3>amazing places</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
        <a href="#" class="btn">See More</a>
    </div>
</div>  
</div>
 </section>

<!-- review section starts -->
<section class="review" id="review">
    <h1 class="heading">
    <span>r</span>
    <span>e</span>
    <span>v</span>
    <span>i</span>
    <span>e</span>
    <span>w</span>
 </h1>

 <div class="swiper review-slider">
    <div class="swiper-wrapper">
    <div class="swiper-slide">
    <div class="box">
    <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?size=626&ext=jpg&ga=GA1.1.1329480126.1693933568&semt=ais" alt="">
    <h3>john deo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci
    quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint
    quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit
    exercitationem!</p>
    <div class="stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    </div>
    </div>
    </div>
    <div class="swiper-slide">
        <div class="box">
        <img src="https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg?size=626&ext=jpg&ga=GA1.2.1329480126.1693933568&semt=ais" alt="">
        <h3>john deo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci
        quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint
        quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit
        exercitationem!</p>
        <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        </div>
        </div>
    </div>
        <div class="swiper-slide">
            <div class="box">
            <img src="https://img.freepik.com/free-photo/handsome-young-man-with-new-stylish-haircut_176420-19637.jpg?size=626&ext=jpg&ga=GA1.2.1329480126.1693933568&semt=ais" alt="">
            <h3>john deo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci
            quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint
            quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit
            exercitationem!</p>
            <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            </div>
            </div>
        </div>
            <div class="swiper-slide">
                <div class="box">
                <img src="https://img.freepik.com/free-photo/portrait-young-beautiful-playful-woman-with-bun-posing_176420-12392.jpg?size=626&ext=jpg&ga=GA1.2.1329480126.1693933568&semt=ais" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci
                quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint
                quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit
                exercitationem!</p>
                <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                </div>
            </div>
            </div>
    </div>
</section>

<!-- contact section starts -->
<section class="contact" id="contact">
    <h1 class="heading">
    <span>c</span>
    <span>o</span>
    <span>n</span>
    <span>t</span>
    <span>a</span>
    <span>c</span>
    <span>t</span>
 </h1>
 <div class="row">
    <div class="image">
    <img src="https://img.freepik.com/free-vector/detailed-travel-logo_23-2148619622.jpg?size=626&ext=jpg&ga=GA1.1.1329480126.1693933568&semt=ais" alt="">
    </div>
    <form action="">
    <div class="inputBox">
    <input type="text" placeholder="name">
    <input type="email" placeholder="email">
    </div>
    <div class="inputBox">
    <input type="number" placeholder="number">
    <input type="text" placeholder="subject">
    </div>
    <textarea placeholder="message" name="" id="" cols="30" rows="10" ></textarea>
    <input type="submit" class="btn" value="send message">
    </form>
    </div>
</section>

<!-- footer section  start-->
<section class="footer">

    <div class="box-container">

    <div class="box">
    <h3>about us</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quas magni
    pariatur est accusantium voluptas enim nemo facilis sit debitis.</p>
    </div>

    <div class="box">
    <h3>Branch locations</h3>
    <a href="#">Mumbai</a>
    <a href="#">Goa</a>
    <a href="#">Kashmir</a>
    <a href="#">Kerala</a>
    <a href="#">Rajasthan</a>
    <a href="#">Darjeeling</a>
    </div>

    <div class="box">
        <h3>Quick Links</h3>
        <a href="#">Home</a>
        <a href="#">Packages</a>
        <a href="#">Services</a>
        <a href="#">Gallery</a>
        <a href="#">Review</a>
        <a href="#">Contact-Us</a>
    </div>

    <div class="box">
        <h3>Follow Us</h3>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
    </div>
    
    </div>
    
</section>
<!-- footer section  ends-->

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        let searchBtn = document.querySelector('#search-btn');
let searchBar = document.querySelector('.search-bar-container');
let formBtn = document.querySelector('#login-btn');
let loginForm = document.querySelector('.login-form-container');
let formClose = document.querySelector('#form-close');
let menu = document.querySelector('#menu-bar');
let navbar = document.querySelector('.navbar');

window.onscroll =() =>{
    searchBtn.classList.remove('fa-times');
    searchBar.classList.remove('active');
    menu.classList.remove('fa-times')
    navbar.classList.remove('active')
    loginForm.classList.remove('active')
}

menu.addEventListener('click',()=>{
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('active');
});
searchBtn.addEventListener('click',()=>{
    searchBtn.classList.toggle('fa-times');
    searchBar.classList.toggle('active');
});

formBtn.addEventListener('click',()=>{
    loginForm.classList.add('active');
});

formClose.addEventListener('click',()=>{
    loginForm.classList.remove('active');
});

var swiper = new Swiper(".review-slider", {
    spaceBetween: 20,
    loop: true,
    autoplay: {
     delay: 2500,
     disableOnInteraction: false,
    },
breakpoints: {
     640: {
       slidesPerView: 1,
     },
     768:{
       slidesPerView: 2,
     },
     1024:  {
       slidesPerView: 3,
     },
    },
});
    </script>
</body>
</html>








